@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* Shared styles */
.description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.primary-btn {
  width: 177px;
  height: 64px;
  padding: 20px 43px 20px 43px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(229, 84, 115);
  border: none;
  cursor: pointer;
}
.section-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}

/* Header start here */
header {
  width: 100%;
  height: 750px;
  background: rgba(229, 84, 115, 0.1);
  padding: 100px 240px;
  display: flex;
  justify-content: space-between;
}

.banner-section {
  width: 50%;
}

.banner-section h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.banner-section p {
  margin-bottom: 32px;
}

.image-container {
  width: 50%;
}
.image-container img {
  height: 650px;
  margin-left: 150px;
}

/* header end here */

/* Our feature start here */
.feature-flower {
  width: 1440px;

  margin: 0 auto;
  margin-top: 150px;
}
.feature-flower h1 {
  margin-bottom: 24px;
}

.flower-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.flower-1 {
  border-radius: 300px 300px 0px 0px;
  width: 464px;
  position: relative;
  height: 505px;
  background: rgba(167, 33, 98, 0.15);
}
.flower-1 img {
  position: absolute;
  top: 77px;
  left: 50px;
}
.flower-1 p {
  position: absolute;
  top: 105%;
  left: 35%;
  text-decoration: underline;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;

  text-decoration-line: underline;
}

.flower-2 {
  border-radius: 300px 300px 0px 0px;
  width: 464px;
  height: 505px;
  position: relative;
  background: rgba(5, 151, 160, 0.15);
}
.flower-2 p {
  position: absolute;
  top: 105%;
  left: 38%;
  text-decoration: underline;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;

  text-decoration-line: underline;
}
.flower-2 img {
  position: absolute;
  left: 60px;
  top: 100px;
}

.flower-3 {
  border-radius: 300px 300px 0px 0px;
  width: 464px;
  height: 505px;
  position: relative;
  background: rgba(71, 125, 17, 0.15);
}
.flower-3 img {
  position: absolute;
  top: 33px;
  left: 60px;
}
.flower-3 p {
  position: absolute;
  top: 105%;
  left: 38%;
  text-decoration: underline;
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;

  text-decoration-line: underline;
}

.services {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  margin-top: 150px;
  border-radius: 8px;
  padding: 170px 180px;
  margin-bottom: 120px;
  background: rgba(39, 39, 39, 0.05);
}

.car {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .car img {
  position: absolute;
  bottom: 40px;
  left: 70px;
} */
.car p {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}

/* our feature end here */

/* Hot deal section start here */
.hot-deal {
  width: 100%;
  height: 600px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 190px;
  margin-bottom: 120px;
}
.hot-deal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 590px;
}
.hot-deal-content p {
  text-align: center;
  margin: 25px 0px;
}

.hot-deal-content h1 {
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}
span {
  color: rgb(229, 84, 115);
}

/* hot deal section end here */

/* Instagram section start here */
.instagram-section {
  width: 1440px;
  margin: 0 auto;
}
.instagram-flower-container {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}
/* .instagram-flower-container img {
  width: 342px;
} */

/* Instagram section end here */

/* latest deal starts here */
.latest-deal {
  width: 1440px;
  margin: 0 auto;
  height: 450px;
  background-image: url("../Flower Asset/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 128px;
}
.latest-deal p {
  margin-bottom: 30px;
}

input {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  border: none;
  padding: 20px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.input-email button {
  margin-left: 16px;
}
/* latest deal end here */
