@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* Shared styles */
.description {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.primary-btn {
  width: 177px;
  height: 64px;
  padding: 20px 43px 20px 43px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(229, 84, 115);
  border: none;
  cursor: pointer;
}
.section-title {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}
.center {
  text-align: center;
}

/* Header start here */
header {
  width: 100%;
  height: 750px;
  background: rgba(229, 84, 115, 0.1);
  padding: 100px 240px;
  display: flex;
  justify-content: space-between;
}

.banner-section {
  width: 50%;
}

.banner-section h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 32px;
}
.banner-section p {
  margin-bottom: 32px;
}

.image-container {
  width: 50%;
}
.image-container img {
  height: 650px;
  margin-left: 150px;
}

/* header end here */

/* Our feature start here */
.feature-flower {
  width: 1440px;

  margin: 0 auto;
  margin-top: 150px;
}
.feature-flower h1 {
  margin-bottom: 24px;
}

.flower-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.flower-1 {
  border-radius: 300px 300px 0px 0px;
  width: 464px;
  position: relative;
  height: 505px;
  background: rgba(167, 33, 98, 0.15);
}
.flower-1 img {
  position: absolute;
  top: 77px;
  left: 50px;
}

.flower-2 {
  border-radius: 300px 300px 0px 0px;
  width: 464px;
  height: 505px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(5, 151, 160, 0.15);
}
/* .flower-2 img {
  position: absolute;
  left: 60px;
  top: 100px;
} */

.flower-3 {
  border-radius: 300px 300px 0px 0px;
  width: 464px;
  height: 505px;
  position: relative;
  background: rgba(71, 125, 17, 0.15);
}
.flower-3 img {
  position: absolute;
  top: 33px;
  left: 60px;
}
/* our feature end here */
